<li
    class="comment-item-content-tagged-entity-list-item"
    data-test-tagged-entity-list-item="{{--entity.id}}">
  <img
      class="comment-item-content-tagged-entity-list-item__photo"
      data-test-tagged-entity-list-item="photo"
      src="{{--entity.photoUrl}}"
      title="{{--entity.displayName}}"
      alt="{{--entity.displayName}}">
</li>
