<main class="layout__main">
  {{#infinite-content class="layout__section layout__section--headerless" --query=--comments}}
    {{#masonry-grid --items=(sort-by 'createdOn:desc' --comments) as |item|}}
      {{sites/site/index/rejected-comments/-components/comment-collection/comment-collection-item
          --comment=item
          --onApproveCommentClick=(action --onApproveCommentClick)}}
    {{else}}
      <article class="card card--centered-position" data-test-comment-collection="empty-state">
        <header class="card__header">
          <h2 class="card__heading">Nothing here right now</h2>

          <p class="card__subheading">
            Rejected comments will be shown here so you can re-approve them if necessary
          </p>
        </header>
      </article>
    {{/masonry-grid}}
  {{/infinite-content}}

  {{yield}}
</main>
