{{#if this.session.isAuthenticated}}
  {{#ce-navbar class="layout__nav"}}
    {{ce-icon-link-button
      data-test-application="chats-link"
      href="foo"
      title="Navigate to chats page"
      aria-label="Navigate to chats page"
      icon="chat"
    }}

    {{ce-icon-link-button
      data-test-application="sites-link"
      href="foo"
      title="Navigate to sites page"
      aria-label="Navigate to sites page"
      icon="domain"
    }}
  {{/ce-navbar}}
{{/if}}

<main class="layout__main">
  {{outlet}}
</main>

{{ce-toast data-test-application="toast"}}
