<main class="layout__main">
  {{sites/site/pages/-components/top-bar --site=model.site}}
  {{sites/site/pages/-components/main-content
      --pages=model.pages
      --onRescrapePageClick=(action handleRescrapePageClick)}}
  {{liquid-outlet class="side-nav-outlet"}}
</main>
