.docs_route-content__platform-header {
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
}

.docs_route-content__platform-text-content {
  flex: 1;
}

.docs_route-content__platform-logo {
  width: 80px;
  height: 80px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.docs_route-content__platform-name {
  padding: 24px 0 8px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-regular);
  color: var(--font-primary-color);
}

.docs_route-content__platform-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-14);
  color: var(--font-secondary-color);
}
