.comment-composer-message-image {
  position: relative;
  display: inline-block;
  padding: 4px;
}

.comment-composer-message-image__image {
  height: 80px;
  border-radius: var(--border-radius-square);
}

.comment-composer-message-image__remove-attachment-button {
  position: absolute;
  top: -12px;
  right: -12px;
}
