.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "nav";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100vw;
  height: 100vh;
  color: var(--font-primary-color);
  background-color: var(--body-background-color);
}

@media (min-width: 960px) {
  .layout {
    grid-template-areas:
      "nav header"
      "nav main";
    grid-template-columns: 52px 1fr;
  }
}

.layout__main {
  display: flex;
  grid-area: main;
  overflow: hidden;
}

.layout__nav {
  grid-area: nav;
}
