.cenchat-theme {
  /* Colors */
  --dark-87: rgba(0, 0, 0, 0.87);
  --dark-54: rgba(0, 0, 0, 0.54);
  --dark-38: rgba(0, 0, 0, 0.38);
  --dark-12: rgba(0, 0, 0, 0.12);
  --light-100: rgba(255, 255, 255, 1);

  /* Scaffolding */
  --brand-color: var(--cenchat-brand-color);
  --body-background-color: #fafafa;
  --surface-background-color: #fdfdfd;
  --active-background-color: #dedede;
  --hover-background-color: #f0f0f0;
  --disabled-background-color: var(--dark-38);
  --success-color: #69f0ae;
  --danger-color: #ff5252;
  --warning-color: #ff0;
  --info-color: var(--brand-color);
  --chat-bubble-background-color: #f5f5f5;

  /* Buttons */
  --button-disabled-text-color: var(--disabled-color);

  /* Divider */
  --divider-color: var(--dark-12);

  /* List */
  --list-item-disabled-text-color: var(--disabled-color);
  --list-item-hover-background-color: var(--hover-background-color);
  --list-item-active-background-color: var(--active-background-color);

  /* Navbar */
  --navbar-background-color: #f5f5f5;

  /* Placeholder */
  --placeholder-color: var(--dark-12);

  /* Progress bar */
  --progress-bar-background-color: var(--brand-color);

  /* Section */
  --section-background-color: #fff;

  /* Text fields */
  --text-field-background-color: transparent;

  /* Toast */
  --toast-text-color: #fff;
  --toast-background-color: #303030;

  /* Top bar */
  --top-bar-background-color: var(--section-background-color);

  /* Typography */
  --font-primary-color: var(--dark-87);
  --font-secondary-color: var(--dark-54);
  --font-hint-color: var(--dark-38);
  --font-alternate-color: var(--light-100);
}
