{{#ce-top-bar class="layout__header" responsive=true}}
  <h1>Sites</h1>

  {{#if (eq session.model.betaTester.status 'approved')}}
    {{ce-icon-link-button
        data-test-sites-index="new-link"
        href=(href-to 'sites.index.new')
        title="New site"
        aria-label="New site"
        icon="add"}}
  {{/if}}
{{/ce-top-bar}}

{{#sites/index/-components/main-content
    --router=router
    --session=session
    --sitesAsAdmin=model
    --onInviteRequestFormSubmit=(action handleInviteRequestFormSubmit)}}
  {{liquid-outlet class="side-nav-outlet"}}
{{/sites/index/-components/main-content}}
