.user-collection-item__header {
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
}

.user-collection-item__header:only-child {
  padding-bottom: 16px;
}

.user-collection-item__text-content {
  flex: 1;
}

.user-collection-item__photo {
  width: 80px;
  height: 80px;
  margin-top: 16px;
  margin-left: 16px;
}

.user-collection-item__name {
  padding: 24px 0 8px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-regular);
  color: var(--font-primary-color);
}

.user-collection-item__username {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-14);
  color: var(--font-secondary-color);
}
