.email-link-auth__logo {
  display: block;
  width: auto;
  height: 48px;
  padding-top: 24px;
  margin-right: auto;
  margin-left: auto;
  fill: var(--font-primary-color);
}

.email-link-auth__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.email-link-auth__heading {
  padding-top: 16px;
}

.email-link-auth__policy-message {
  margin: 16px;
  font-size: var(--font-size-12);
  line-height: var(--line-height-12);
  color: var(--font-secondary-color);
}

.email-link-auth-send-link__or-anonymous {
  padding-top: 16px;
  color: var(--font-secondary-color) !important;
}

.email-link-auth-send-link__continue-anonymously-button {
  padding: 0;
  color: var(--indicator-color);
  text-decoration: underline;
  background: none;
  border: none;
}

.email-link-auth-sign-in {
  display: flex;
}

.email-link-auth-sign-in--show-more-info {
  animation-duration: 375ms;
  animation-name: email-link-auth-sign-in-slide-center-to-left;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-fill-mode: forwards;
}

@keyframes email-link-auth-sign-in-slide-center-to-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.email-link-auth-sign-in__section {
  min-width: 100%;
}
