{{#ce-top-bar}}
  {{ce-icon-link-button
      data-test-top-bar="navigate-back-link"
      href=(href-to 'sites.site.index')
      title="Navigate back"
      aria-label="Navigate back"
      icon="arrow_back"}}
  <h1 data-test-top-bar="site-name">Pages ({{--site.displayName}})</h1>
{{/ce-top-bar}}
