<article class="card">
  <h4 class="card__heading">Delete account</h4>

  {{#if isConfirmDeleteAccountVisible}}
    <p class="card__message" data-test-security-settings-delete-account="confirm-message">
      When you delete your account, you'll be removed from being an admin to any registered sites that you're apart of. Those sites will continue to exists even if there are no admins left. In addition, comments made by your account on other sites will be kept but anonymized to maintain the context of the discussion.
    </p>

    <p class="card__message" data-test-security-settings-delete-account="confirm-message">
      <em>It make take up to 24 hours for your account to be completely deleted.</em>
    </p>

    {{#ce-form class="card__wrapper" --onSubmit=(action deleteAccount)}}
      {{ce-field
          class="card__field"
          data-test-security-settings-delete-account="confirm-field"
          type="text"
          required=true
          label=(concat 'To confirm deletion, type ' confirmationKey ' below')
          --onInput=(action setRepeatConfirmationKey)}}

      <div class="card__action">
        {{#ce-button
            data-test-security-settings-delete-account="confirm-delete-button"
            type="submit"
            disabled=(not-eq confirmationKey repeatConfirmationKey)}}
          Confirm delete
        {{/ce-button}}
      </div>
    {{/ce-form}}
  {{else}}
    <p class="card__message">Permanently delete your account and all of your content</p>

    <div class="card__action">
      {{#ce-button
          data-test-security-settings-delete-account="delete-button"
          --onClick=(action showConfirmDeleteAccount)}}
        Delete
      {{/ce-button}}
    </div>
  {{/if}}
</article>
