.home_top-bar {
  background-color: var(--brand-primary-color);
}

.home_top-bar svg {
  fill: #fff;
}

.home_top-bar .ce-link-button {
  color: #fff;
}

@media (min-width: 960px) {
  .home_top-bar {
    width: calc(100% + 52px);
    margin-left: -52px;
  }
}
