{{#ce-top-bar class="layout__header"}}
  <h1>Explore</h1>
{{/ce-top-bar}}

{{#sites/site/pages/page/explore/-components/route-content
  --chats=this.model
  --chatLimit=this.chatLimit
  --onLoadMoreChatsClick=(action this.handleLoadMoreChatsClick)
}}
  {{liquid-outlet class="liquid-fire-side-nav-outlet"}}
{{/sites/site/pages/page/explore/-components/route-content}}
