<div class="layout__section layout__section--headerless">
  {{#ani-each --chats key="id" tagName="ul" class="card list" as |chat|}}
    {{sites/site/pages/page/chats/-components/route-content/chat-list/chat-list-item --session=(lookup 'service:session') --chat=chat}}
  {{else}}
    <p class="empty-state" data-test-chat-list="empty-state">
      No chats as of the moment
    </p>
  {{/ani-each}}

  {{#if (eq --chats.length --chatLimit)}}
    {{#ce-button class="sites-site-pages-page-chats_route-content-chat-list__more-button" data-test-chat-list="more-button" --onClick=(action --onLoadMoreChatsClick)}}
      More
    {{/ce-button}}
  {{/if}}
</div>
