<main class="layout__main">
  <section class="docs">
    <h2 class="docs__heading">Pricing</h2>
    <p class="docs__paragraph">At the moment, everything is free without limits.</p>

    <p class="docs__paragraph">
      <em>Free plan limits will be adjusted once the premium plans are available.</em>
    </p>
  </section>

  {{outlet}}
</main>
