<section class="section">
  {{#ce-subheader class="section__header"}}
    <h2>Setup</h2>
  {{/ce-subheader}}

  <div class="wrapper">
    <article class="card" data-test-setup-guide="empty-state">
      <header class="card__header">
        <h3 class="card__heading">Verify your site</h3>
      </header>

      <p class="card__message">
        Place the additional <code class="snippet__inline-code">&lt;meta&gt;</code> tag below in the <code class="snippet__inline-code">&lt;head&gt;</code> of {{--site.hostname}} and all of its pages then tap Verify.
      </p>

      <p class="card__message snippet">
        <code class="snippet__block-code" data-test-setup-guide="code-snippet">&lt;meta property="cenchat:id" content="{{--site.id}}"&gt;</code>
      </p>

      {{#ce-button
          class="card__action"
          data-test-setup-guide="verify-button"
          --onClick=(action --onVerifySiteClick --site)}}
        Verify
      {{/ce-button}}
    </article>
  </div>
</section>
