<section class="section">
  {{#ce-subheader class="section__header"}}
    <h2>Follow suggestions</h2>

    {{#ce-link-button
        data-test-follow-suggestion-collection="see-all-link"
        href=(href-to 'profile.follow-suggestions')
        size="small"}}
      See all
    {{/ce-link-button}}
  {{/ce-subheader}}

  {{#async-let
      on=(async-function --user 'getUnfollowedFacebookFriends' 4)
      placeholder=(component 'ce-spinner' aria-valuetext='Loading follow suggestions')
      as |followSuggestions|}}
    {{#if followSuggestions}}
      {{user-collection class="wrapper" --users=followSuggestions --type="follow"}}
    {{else}}
      <article class="card" data-test-follow-suggestion-collection="empty-state">
        <h3 class="card__heading">There are no suggestions as of the moment</h3>
      </article>
    {{/if}}
  {{/async-let}}
</section>
