<section class="section">
  <div class="section__content section__content--headerless">
    <div class="section__item">
      {{#ani-each --chats key="id" as |chat|}}
        {{sites/site/pages/page/explore/-components/route-content/chat-collection/chat-collection-item
          --chat=chat
        }}
      {{else}}
        <p class="empty-state" data-test-chat-collection="empty-state">
          No chats to explore right now
        </p>
      {{/ani-each}}

      {{#if (eq --chats.length --chatLimit)}}
        {{#ce-button
          class="sites-site-pages-page-explore_route-content-chat-collection__more-button"
          data-test-chat-collection="more-button"
          --onClick=(action --onLoadMoreChatsClick)
        }}
          More
        {{/ce-button}}
      {{/if}}
    </div>
  </div>
</section>
