.snippet {
  padding: 0.15em 0.4em;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  overflow-x: auto;
  background-color: #424242;
  border-radius: var(--border-radius-square);
}

.snippet__block-code {
  display: block;
  color: #fff;
}

.snippet__block-code--multiline {
  white-space: pre;
}

.snippet__inline-code {
  padding: 0.15em 0.4em;
  color: #fff;
  background-color: #424242;
  border-radius: var(--border-radius-square);
}
