.email-link-auth-sign-in {
  display: flex;
}

.email-link-auth-sign-in--show-more-info {
  animation-name: email-link-auth-sign-in-slide-center-to-left;
  animation-duration: 375ms;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-fill-mode: forwards;
}

@keyframes email-link-auth-sign-in-slide-center-to-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.email-link-auth-sign-in__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.email-link-auth-sign-in__heading {
  padding-top: 16px;
}

.email-link-auth-sign-in__section {
  min-width: 100%;
}
