.home_invite-form {
  width: auto;
  margin: 16px 8px;
}

@media (min-width: 600px) {
  .home_invite-form {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 960px) {
  .home_invite-form {
    min-width: 400px;
    margin: 32px;
  }
}
