<main class="layout__main">
  <section class="section">
    <div class="section__content section__content--compact">
      {{chat-list
        class="section__item"
        --chats=--chats
        --chatRouteName="sites.site.pages.page.chats.chat"
        --chatLimit=this.chatLimit
        --onLoadMoreChatsClick=(action --onLoadMoreChatsClick)
      }}
    </div>
  </section>

  {{yield}}
</main>
