<main class="layout__main">
  {{sites/site/pages/page/chats/-components/route-content/chat-list
      --chats=--chats
      --chatLimit=this.chatLimit
      --onLoadMoreChatsClick=(action --onLoadMoreChatsClick)}}

  {{yield}}
</main>
