.chat-composer-sub-toolbar-gif-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
  list-style-type: none;
}

.chat-composer-sub-toolbar-gif-list__item {
  padding: 0 4px 8px;
}

.chat-composer-sub-toolbar-gif-list__item:first-child {
  padding-left: 8px;
}

.chat-composer-sub-toolbar-gif-list__item:last-child {
  padding-right: 8px;
}

.chat-composer-sub-toolbar-gif-list__item .ce-image {
  display: block;
  min-width: 120px;
  height: 200px;
  border-radius: 0;
}

.chat-composer-sub-toolbar-gif-list__item .ce-image img {
  width: auto;
}

.chat-composer-sub-toolbar-gif-list__button {
  display: block;
  padding: 0;
  background: none;
  border: none;
}
