<div class="section__content">
  {{profile/settings/-components/route-content/account-settings
    --router=(lookup "service:router")
    --session=(lookup "service:session")
  }}
  {{profile/settings/-components/route-content/security-settings
    --onDeleteAccountToastCompletion=(action --onDeleteAccountToastCompletion)
  }}
</div>
