<section class="layout">
  {{#ce-top-bar}}
    <h1>Chats</h1>
  {{/ce-top-bar}}

  {{chats/-components/route-content
    --chats=this.model
    --chatLimit=this.chatLimit
    --onLoadMoreChatsClick=(action this.handleLoadMoreChatsClick)
  }}
</section>

{{outlet}}
