.chat-content-time-group-list-item-author-list-item__right-author-group .chat-content-time-group-list-item-author-list-item-message-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-content-time-group-list-item-author-list-item__left-author-group .chat-content-time-group-list-item-author-list-item-message-list {
  flex: 1;
}

.chat-content-time-group-list-item-author-list-item-item-message-list__author-name {
  margin-right: 16px;
  margin-left: 16px;
  font-size: var(--font-size-12);
  line-height: var(--line-height-12);
  color: var(--font-secondary-color);
}

.chat-content-time-group-list-item-author-list-item__right-author-group .chat-content-time-group-list-item-author-list-item-item-message-list__author-name {
  display: none;
}
