.chat-content-time-group-list-item-author-list-item-message-list-item {
  width: 100%;
}

.chat-content-time-group-list-item-author-list-item-message-list-item__content {
  display: inline-block;
  max-width: 100%;
  margin-top: 2px;
  margin-bottom: 0;
  word-wrap: break-word;
}

.chat-content-time-group-list-item-author-list-item__right-author-group .chat-content-time-group-list-item-author-list-item-message-list-item__content {
  float: right;
}

.chat-content-time-group-list-item-author-list-item-message-list-item__text {
  display: block;
  padding: 16px;
  font-size: var(--font-size-16);
  line-height: var(--line-height-16);
  white-space: pre-wrap;
  background-color: var(--chat-bubble-background-color);
  border-radius: var(--border-radius-square);
}

.chat-content-time-group-list-item-author-list-item-message-list-item__image {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: var(--border-radius-square);
}

.chat-content-time-group-list-item-author-list-item-message-list-item__timestamp {
  display: block;
  margin-left: 16px;
  font-size: var(--font-size-12);
  line-height: var(--line-height-12);
  color: var(--font-secondary-color);
}

.chat-content-time-group-list-item-author-list-item__right-author-group .chat-content-time-group-list-item-author-list-item-message-list-item__timestamp {
  margin-right: 16px;
  margin-left: 0;
  text-align: right;
}
