{{! template-lint-disable attribute-indentation no-invalid-interactive }}

<div
  class="chat-content-time-group-list-item-author-list-item-message-list-item"
  id="message-list-item-{{--message.id}}"
  data-test-message-list-item={{--message.id}}
  onclick={{action this.handleMessageClick}}
>
  {{#if this.isCreatedOnVisible}}
    <time
      class="chat-content-time-group-list-item-author-list-item-message-list-item__timestamp"
      data-test-message-list-item="created-on"
    >
      {{moment-format --message.createdOn "MMM DD YYYY HH:SS a"}}
    </time>
  {{/if}}

  <p
    class="chat-content-time-group-list-item-author-list-item-message-list-item__content"
    data-test-message-list="content"
  >
    {{#if --message.text}}
      <span class="chat-content-time-group-list-item-author-list-item-message-list-item__text">{{--message.text}}</span>
    {{else if this.media}}
      {{ce-image
        class="chat-content-time-group-list-item-author-list-item-message-list-item__image"
        data-test-message-list-item="media"
        src=this.media.imageUrl
        alt=this.media.description
        width=this.media.width
        height=this.media.height
      }}
    {{/if}}
  </p>
</div>
