{{cenchat-header class="layout__header" responsive=true}}

<main class="layout__main">
  {{#if (not fastboot.isFastBoot)}}
    <section class="layout__section layout__section--headerless">
      {{email-link-auth class="card--centered-position"}}
    </section>
  {{/if}}
</main>
