<main class="layout__main">
  {{sites/site/manage/-components/top-bar --site=model}}

  {{#sites/site/manage/-components/manage-list}}
    {{liquid-outlet class="side-nav-outlet"}}
  {{/sites/site/manage/-components/manage-list}}
</main>
