<main class="layout__main">
  {{sites/site/manage/-components/top-bar --site=model}}

  <section class="layout__section layout__section--headerless">
    {{sites/site/manage/-components/manage-list}}
  </section>

  {{liquid-outlet class="side-nav-outlet"}}
</main>
