.sign-in-form {
  position: relative;
  max-width: 366px;
  margin-right: auto;
  margin-left: auto;
}

.sign-in-form__info-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
}

.sign-in-form__footer {
  padding-top: 8px;
  margin: 0 16px 16px;
  font-size: var(--font-size-12);
  line-height: 1.25rem;
  color: var(--font-secondary-color);
  text-align: center;
  border-top: 1px solid var(--divider-color);
}
