<section class="sign-in-form {{class}}">
  {{ce-icon-button
      class="sign-in-form__info-button"
      title="Show additional info when signing in"
      aria-label="Show additional info when signing in"
      icon="info_outline"
      size="small"
      --onClick=(action showAdditionalInfo)}}

  {{firebaseui-auth uiConfig=uiConfig}}

  <footer class="sign-in-form__footer">
    By continuing, you're indicating that you've read the <a href="https://cenchat.com/about/privacy">Privacy Policy</a> and agree to the <a href="https://cenchat.com/about/terms">Terms of Service</a>
  </footer>
</section>
