<div class="side-nav__content">
  {{#if followSuggestions}}
    <section class="side-nav__section side-nav__section--headerless">
      {{#infinite-content
          --query=followSuggestions
          --selector=".side-nav__content"
          --onLoadMoreRecords=(action handleLoadMoreRecords)}}
        {{user-collection --users=followSuggestions}}
      {{/infinite-content}}
    </section>
  {{/if}}
</div>
