.profile_main-content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 960px) {
  .profile_main-content-info {
    max-width: 420px;
  }
}

.profile_main-content-info__photo {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.profile_main-content-info__photo:last-child {
  margin-bottom: 24px;
}

.profile_main-content-info__username,
.profile_main-content-info__short-bio {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-24);
  color: var(--font-primary-color);
  text-align: center;
}

.profile_main-content-info__username {
  padding: 24px 16px 8px;
}

.profile_main-content-info__username:only-of-type {
  padding-bottom: 16px;
}

.profile_main-content-info__short-bio {
  padding: 0 16px 16px;
}

.profile_main-content-info__short-bio:only-of-type {
  padding-top: 24px;
}
