<main class="index_route-content">
  <section class="index_route-content__cover">
    <h2 class="index_route-content__cover-title">Messaging for websites</h2>

    <p class="index_route-content__cover-description">
      Chat based solution for websites that don't want to bother moderating their comment section
    </p>

    {{#ce-button
      class="index_route-content__cover-try-it-button"
      outlined=true
    }}
      Try it
    {{/ce-button}}
  </section>

  {{yield}}
</main>
