<main class="layout__main layout__main--no-nav">
  <section class="section">
    {{#if (not --session.isAuthenticated)}}
      <div class="section__content section__content--headerless">
        {{sign-in-form
          class="section__item"
          --page=--chat.page
          --isAnonymousAllowed=true
        }}
      </div>
    {{else}}
      {{yield}}
    {{/if}}
  </section>
</main>
