{{#ce-top-bar class="layout__header" multi-row=true responsive=true}}
  {{#ce-top-bar-row}}
    <img
        class="profile_top-bar__photo"
        data-test-top-bar="photo"
        src="{{--user.photoUrl}}"
        alt="{{--user.displayName}}">
    <h1 data-test-top-bar="name">{{--user.displayName}}</h1>
  {{/ce-top-bar-row}}

  {{profile/-components/top-bar/top-bar-actions
      --session=--session
      --user=--user
      --onSignOutClick=(action --onSignOutClick)}}
{{/ce-top-bar}}
