<article class="card" data-test-comment-collection-item="{{--comment.id}}">
  <header class="card__header card__header--small">
    <h2 class="card__heading card__heading--small" data-test-comment-collection-item="author-name">
      {{--comment.authorOrAnonymous.displayName}}
    </h2>

    <p class="card__subheading" data-test-comment-collection-item="created-on">
      {{moment-from-now --comment.createdOn}}
    </p>
  </header>

  <p class="card__message card__message--pre-wrap" data-test-comment-collection-item="text">{{--comment.text}}</p>

  {{#ce-button
      class="card__action"
      data-test-comment-collection-item="approve-button"
      --onClick=(action --onApproveCommentClick --comment)}}
    Approve
  {{/ce-button}}
</article>
