<main class="layout__main">
  <section class="docs">
    <h2 class="docs__heading">Verify your website</h2>
    <p class="docs__paragraph">Before integrating Cenchat, we first need to make sure that you own the website.</p>
    <p class="docs__paragraph">Place the additional <code class="snippet__inline-code">&lt;meta property="cenchat:id" content="[site_id]"&gt;</code> tag in the <code class="snippet__inline-code">&lt;head&gt;</code> of your website and every web page that will use Cenchat.</p>
    <p class="docs__paragraph">Once you've setup the necessary tags, tap <strong>Verify</strong> at your Cenchat Site on <a href="https://web.cenchat.com" rel="noopener noreferrer" target="_blank">web.cenchat.com</a></p>
    <p class="docs__paragraph"><em>Remember to replace <strong>[site_id]</strong> with your Cenchat Site ID.</em></p>
  </section>

  {{outlet}}
</main>
