{{cenchat-header class="layout__header" responsive=true}}

<main class="layout__main">
  {{#if (not fastboot.isFastBoot)}}
    <section class="sign-in_main-content">
      {{email-link-auth class="sign-in_main-content__email-link-auth"}}
    </section>
  {{/if}}
</main>
