{{#ce-top-bar class="layout__header" data-test-top-bar="host" responsive=true multi-row=true}}
  {{#ce-top-bar-row}}
    <h1 data-test-top-bar="name">{{--site.displayName}}</h1>

    {{#if --site.isVerified}}
      {{ce-icon-link-button
          data-test-top-bar="pages-link"
          href=(href-to 'sites.site.pages')
          title="Pages"
          aria-label="Pages"
          icon="view_stream"}}

      {{ce-icon-link-button
          data-test-top-bar="manage-link"
          href=(href-to 'sites.site.manage')
          title="Manage"
          aria-label="Manage"
          icon="settings"}}

      {{ce-icon-link-button
          data-test-top-bar="docs-link"
          href=(href-to 'docs')
          title="Documentations"
          aria-label="Documentations"
          icon="help"}}
    {{/if}}
  {{/ce-top-bar-row}}

  {{#if --site.isVerified}}
    {{#ce-top-bar-row data-test-top-bar="tabs"}}
      {{#ce-link-button
          class="sites-site-index_top-bar__tab"
          data-test-top-bar="approved-comments-link"
          href=(href-to 'sites.site.index.approved-comments')}}
        Approved
      {{/ce-link-button}}

      {{#ce-link-button
          class="sites-site-index_top-bar__tab"
          data-test-top-bar="rejected-comments-link"
          href=(href-to 'sites.site.index.rejected-comments')}}
        Rejected
      {{/ce-link-button}}
    {{/ce-top-bar-row}}
  {{/if}}
{{/ce-top-bar}}
