.sign-in-form {
  position: relative;
}

.sign-in-form__policy-message {
  margin: 0 16px 16px;
  font-size: var(--font-size-12);
  line-height: 1.25rem;
  color: var(--font-secondary-color);
}

.sign-in-form__additional-message-container {
  position: relative;
}

.sign-in-form__additional-message-container::before {
  position: absolute;
  top: 0;
  right: 16px;
  left: 16px;
  height: 1px;
  content: '';
  background-color: var(--divider-color);
}

.sign-in-form__additional-message {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 16px;
  font-size: var(--font-size-12);
  line-height: 1.25rem;
  color: var(--font-secondary-color);
}
