.sign-in__footer {
  padding-top: 8px;
  margin: 0 16px 16px;
  font-size: var(--font-size-12);
  line-height: 1.25rem;
  color: var(--font-secondary-color);
  text-align: center;
  border-top: 1px solid var(--divider-color);
}

.sign-in__strong {
  font-weight: 500;
}
