<article class="sign-in-form card card--centered-position card--centered-content {{class}}">
  {{firebaseui-auth uiConfig=uiConfig}}

  <footer>
    <p class="sign-in-form__policy-message">
      By continuing, you're indicating that you've read the <a href="https://cenchat.com/about/privacy">Privacy Policy</a> and agree to the <a href="https://cenchat.com/about/terms">Terms of Service</a>
    </p>

    <div class="sign-in-form__additional-message-container">
      {{#if isAdditionalInfoVisible}}
        <p class="sign-in-form__additional-message" data-test-sign-in-form="additional-info">
          In addition to your basic info, we also request to have access to your friend list. However, we don't store this in our servers as we only request this on-demand to give you suggestions on who to follow.
        </p>
      {{else}}
        {{ce-icon-button
            class="card__action"
            data-test-sign-in-form="show-additional-info-button"
            title="Show additional info when signing in"
            aria-label="Show additional info when signing in"
            icon="info_outline"
            --onClick=(action showAdditionalInfo)}}
      {{/if}}
    </div>
  </footer>
</article>
