<section class="card {{class}}">
  {{firebaseui-auth uiConfig=uiConfig}}

  <footer class="sign-in__footer">
    Cenchat for <strong class="sign-in__strong">publishers</strong> is currently available to select partners only. Sign in to get an invite.
  </footer>
</section>
