{{#side-nav}}
  {{#ce-top-bar}}
    {{ce-icon-link-button
        data-test-profile-edit="navigate-back-link"
        href=(href-to 'profile.index')
        title="Navigate back"
        aria-label="Navigate back"
        icon="arrow_back"}}

    <h2>Follow suggestions</h2>
  {{/ce-top-bar}}

  <div class="side-nav__content">
    {{#infinite-content
        --query=followSuggestions
        --selector=".side-nav__content"
        --onLoadMoreRecords=(action handleLoadMoreRecords)}}
      {{user-collection --users=followSuggestions --type="follow"}}
    {{/infinite-content}}
  </div>

  {{yield}}
{{/side-nav}}
