<p class="comment-composer-message">
  {{#if --comment.isTextAllowed}}
    {{comment-composer/comment-composer-message/message-textbox
        --comment=--comment
        --onTextBoxInput=(action --onTextBoxInput)}}
  {{/if}}

  {{#each --comment.parsedAttachments as |attachment index|}}
    {{comment-composer/comment-composer-message/message-image
        --attachment=attachment
        --onRemoveAttachmentClick=(action --onRemoveAttachmentClick index)}}
  {{/each}}
</p>
