<div class="side-nav__section side-nav__section--headerless">
  <div class="card">
    {{ce-field
        class="card__field"
        data-test-main-content-form="search-field"
        type="search" 
        label="Search for a user"
        --onInput=(action triggerSearchUserInput)}}
  </div>
</div>
