{{#ce-top-bar fixed=true responsive=true}}
  {{ce-icon-link-button
      href=(href-to 'sites.site.index')
      title="Navigate back"
      aria-label="Navigate back"
      icon="arrow_back"}}

  <h1 data-test-top-bar="title">{{--page.title}}</h1>
{{/ce-top-bar}}
