{{#ce-top-bar class="layout__header" responsive=true}}
  <h1>Notifications</h1>
{{/ce-top-bar}}

{{#notifications/-components/main-content --user=model}}
  {{outlet}}
{{/notifications/-components/main-content}}
