<main class="layout__main">
  {{#if (eq --session.model.id --user.id)}}
    {{#if --followSuggestions}}
      {{profile/-components/main-content/follow-suggestion-collection --followSuggestions=--followSuggestions}}
    {{/if}}

    {{profile/-components/main-content/following-collection --followings=--followings}}
  {{/if}}

  {{yield}}
</main>
