.comment-composer__container {
  overflow: hidden;
  background-color: var(--text-field-background-color);
  border-radius: var(--border-radius-square);
}

.comment-composer__hint {
  padding: 8px;
  font-size: var(--font-size-12);
  color: var(--font-hint-color);
}
