<main class="home_main-content layout__main">
  <section class="home_main-content__intro-section">
    <header class="home_main-content__intro-container">
      <div class="home_main-content__intro-inner-container">
        <h2 class="home_main-content__intro-heading">Conversations in a unique but familiar way</h2>

        <p class="home_main-content__intro-subheading">
          Cenchat is a comments hosting service that enables publishers and their audiences to converse in a fun and bully-free way
        </p>
      </div>

      {{#if (not fastboot.isFastBoot)}}
        {{sign-in-form class="home_main-content__sign-in"}}
      {{/if}}
    </header>

    {{ce-icon-link-button class="home_main-content__scroll-indicator" href="#marketing" icon="expand_more" size="large"}}
  </section>

  <section class="marketing" id="marketing">
    <h2 class="marketing__heading">Online comments shouldn't have to be broken</h2>

    <article class="marketing__benefit">
      <div class="marketing__benefit-image-container">
        <img class="marketing__benefit-image" src="https://firebasestorage.googleapis.com/v0/b/cenchat-prod.appspot.com/o/assets%2Fimages%2Fmarketing%2Fno_texts.png?alt=media&token=e6814ba2-6d4a-4cc0-bf64-bffa4f53c4b8" alt="">
      </div>

      <div class="marketing__benefit-text-container">
        <h3 class="marketing__benefit-heading">Get rid of online harassments</h3>
        <p class="marketing__benefit-message">Continuously provide a positive environment for your contents. Your audiences can only add texts to their comments when replying to someone who follows them. To anyone else, only GIFs and stickers are available.</p>
      </div>
    </article>

    <article class="marketing__benefit marketing__benefit--reverse">
      <div class="marketing__benefit-image-container">
        <img class="marketing__benefit-image" src="https://firebasestorage.googleapis.com/v0/b/cenchat-prod.appspot.com/o/assets%2Fimages%2Fmarketing%2Fama.png?alt=media&token=e79f52dd-12e7-43ef-b66c-1843abfa359d" alt="">
      </div>

      <div class="marketing__benefit-text-container">
        <h3 class="marketing__benefit-heading">Ask me anything</h3>
        <p class="marketing__benefit-message">Your stories are great and we'd like to ask some stuff about it. Ask Me Anything threads allows your audiences to send text comments only to you.</p>
      </div>
    </article>

    <article class="marketing__benefit">
      <div class="marketing__benefit-image-container">
        <img class="marketing__benefit-image" src="https://firebasestorage.googleapis.com/v0/b/cenchat-prod.appspot.com/o/assets%2Fimages%2Fmarketing%2Ffollowings_first.png?alt=media&token=05d3eee0-da7a-4680-b1ed-fe6063985ae0" alt="">
      </div>

      <div class="marketing__benefit-text-container">
        <h3 class="marketing__benefit-heading">A more personal experience</h3>
        <p class="marketing__benefit-message">Sometimes, we just want to know what people who we care about have to say. In Cenchat, when you follow someone, you see their comments first.</p>
      </div>
    </article>

    <article class="marketing__benefit marketing__benefit--reverse">
      <div class="marketing__benefit-image-container">
        <img class="marketing__benefit-image" src="https://firebasestorage.googleapis.com/v0/b/cenchat-prod.appspot.com/o/assets%2Fimages%2Fmarketing%2F1_level_thread.png?alt=media&token=a0e3040d-6437-41a9-a907-1dfd79f92626" alt="">
      </div>

      <div class="marketing__benefit-text-container">
        <h3 class="marketing__benefit-heading">Don't miss out on those amazing replies</h3>
        <p class="marketing__benefit-message">Discussions are flat but we also allow 1 level deep of replies. Now you don't have to worry about missing responses buried underneath the reply chain.</p>
      </div>
    </article>
  </section>

  <section class="home_main-content__demo marketing">
    <h2 class="home_main-content__demo-heading marketing__heading">Here's a demo</h2>
    <div id="cenchat-comments" data-page-id="E97QstGU8coNWXcTdiBb"></div>
  </section>

  {{yield}}
</main>
