<main class="home_main-content layout__main">
  <section class="home_main-content__intro-section">
    <header class="home_main-content__intro-container">
      <div class="home_main-content__intro-inner-container">
        <h1 class="home_main-content__intro-heading">Civilized commenting service</h1>

        <p class="home_main-content__intro-subheading">
          Cenchat is a commenting service with a unique way to prevent trolls, harassment, negativity, and spam to happen around your work
        </p>

        <p class="home_main-content__intro-caption">
          Cenchat is currently in public beta
        </p>
      </div>

      {{#if (not fastboot.isFastBoot)}}
        {{email-link-auth class="home_main-content__sign-in"}}
      {{/if}}
    </header>

    {{ce-icon-link-button class="home_main-content__scroll-indicator" href="#marketing" icon="expand_more" size="large"}}
  </section>

  <section class="home_main-content__--marketing">
    <div class="home_main-content__category">
      <h2 class="home_main-content__category-heading">Make moderation less, not just easier</h2>
    </div>

    <div class="home_main-content__benefit">
      <article class="card">
        <h3 class="home_main-content__benefit-heading">Get rid of online harassment</h3>
        <p class="home_main-content__benefit-message">Continuously provide a positive environment around your work. Your audiences can only add texts to their comments when replying to their followers. To anyone else, only GIFs and stickers are available.</p>
      </article>

      <article class="card">
        <h3 class="home_main-content__benefit-heading">Ask me anything</h3>
        <p class="home_main-content__benefit-message">Your stories are great and we'd like to ask some stuff about it. Ask Me Anything threads allows your audiences to send text comments only to you.</p>
      </article>
    </div>
  </section>

  <section class="home_main-content__--marketing">
    <div class="home_main-content__category home_main-content__category--light">
      <h2 class="home_main-content__category-heading">Designed to make the important comments discoverable</h2>
    </div>

    <div class="home_main-content__benefit">
      <article class="card">
        <h3 class="home_main-content__benefit-heading">Personalization</h3>
        <p class="home_main-content__benefit-message">Sometimes, we just want to know what people who we care about have to say. In Cenchat, when you follow someone, you see their comments first.</p>
      </article>

      <article class="card">
        <h3 class="home_main-content__benefit-heading">No deep threading</h3>
        <p class="home_main-content__benefit-message">Discussions are flat but we also allow 1 level deep of replies. Now you don't have to worry about missing responses buried underneath the reply chain.</p>
      </article>
    </div>
  </section>

  <section class="home_main-content__--marketing">
    <div class="home_main-content__category">
      <h2 class="home_main-content__category-heading">Bring more audience</h2>
    </div>

    <div class="home_main-content__benefit">
      <article class="card">
        <h3 class="home_main-content__benefit-heading">Share comments</h3>
        <p class="home_main-content__benefit-message">Anyone can be famous. It just takes one comment. You'll also get more traffic when they do.</p>
      </article>

      <article class="card">
        <h3 class="home_main-content__benefit-heading">Get back those lost conversations</h3>
        <p class="home_main-content__benefit-message">Sharing your work is great but this leads to conversations happening outside of it. In Cenchat, your audiences can tag other people giving you the opportunity for more engagement.</p>
      </article>
    </div>
  </section>

  <section class="home_main-content__--marketing">
    <div class="home_main-content__category home_main-content__category--light">
      <h2 class="home_main-content__category-heading">Here's a demo</h2>
    </div>

    <div class="home_main-content__demo">
      <div id="cenchat-comments" data-page-id="E97QstGU8coNWXcTdiBb"></div>
    </div>
  </section>

  <footer class="home_main-content__footer">
    <div class="home_main-content__footer-wrapper">
      <a
          class="home_main-content__footer-link"
          href="https://cenchat.com/about/terms"
          target="_blank"
          rel="noopener noreferrer">
        Terms
      </a>

      <a
          class="home_main-content__footer-link"
          href="https://cenchat.com/about/privacy"
          target="_blank"
          rel="noopener noreferrer">
        Privacy
      </a>

      <a
          class="home_main-content__footer-link home_main-content__footer-contact-us-link"
          href="mailto:support@cenchat.com">
        Contact us
      </a>
    </div>
  </footer>

  {{yield}}
</main>
