<div class="section__content section__content--headerless">
  {{#if --site.isVerified}}
    <div class="section__item" data-test-route-content="docs">
      <article class="card">
        <h2 class="card__heading">Integrate Cenchat to your website</h2>

        <p class="card__message">
          Choose the integration method below that fits your website
        </p>

        <ul class="list">
          <li class="list__item">
            <a
              class="list__action"
              href="https://cenchat.com/docs/integration/custom"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ce-image
                class="list__avatar"
                src="https://firebasestorage.googleapis.com/v0/b/cenchat-app.appspot.com/o/assets%2Fimages%2Fthird-party%2Fhtml5%2Fhtml5-logo_512.png?alt=media&token=2ec683b1-3fca-46b2-af99-8b3436bbdeea"
                alt="Custom website"
              }}
              <div class="list__single-line-content">
                <h3 class="list__primary-text">Custom website</h3>
              </div>
            </a>
          </li>
        </ul>
      </article>
    </div>
  {{else}}
    {{sites/site/-components/route-content/verify-site
      --site=--site
      --onVerifySiteClick=(action --onVerifySiteClick)
    }}
  {{/if}}
</div>
