.sites-index_site-collection__empty-state-card {
  width: auto;
}

@media (min-width: 600px) {
  .sites-index_site-collection__empty-state-card {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
