<li class="list__item" data-test-tag-entity-panel-item="{{--entity.id}}">
  <button class="list__action" onclick={{action --onTagEntityClick --entity}}>
    <div>
      {{ce-image
          class="list__avatar list__avatar--circle"
          data-test-tag-entity-panel-item="photo"
          src=--entity.avatarUrl
          alt=--entity.displayName}}

      <div class="list__multi-line-content">
        <h2 class="list__primary-text" data-test-tag-entity-panel-item="name">
          {{--entity.displayName}}
        </h2>

        {{#if --entity.displayUsername}}
          <p class="list__secondary-text" data-test-tag-entity-panel-item="username">
            @{{--entity.displayUsername}}
          </p>
        {{/if}}
      </div>
    </div>
  </button>
</li>
