{{profile/-components/route-content/top-bar
    --session=--session
    --user=--user
    --onSignOutClick=(action --onSignOutClick)
    --onFollowUserClick=(action --onFollowUserClick)
    --onUnfollowUserClick=(action --onUnfollowUserClick)}}

<main class="profile-route-content__main main">
  {{#if (eq --session.model.id --user.id)}}
    {{#if --user.missingInfo}}
      {{profile/-components/route-content/missing-info
          --user=--user
          --onUsernameSubmit=(action --onUsernameSubmit)}}
    {{/if}}

    {{profile/-components/route-content/following-collection
        --user=--user
        --onUnfollowUserClick=(action --onUnfollowUserClick)}}
  {{/if}}

  {{yield}}
</main>
