{{#side-nav}}
  {{#ce-top-bar}}
    {{ce-icon-link-button
        href=(href-to 'sites.index')
        title="Navigate back"
        aria-label="Navigate back"
        icon="arrow_back"}}
    <h2>Add site</h2>
  {{/ce-top-bar}}

  <div class="side-nav__content">
    <section class="side-nav__section side-nav__section--headerless">
      {{sites/index/new/-components/site-form --onSiteFormSubmit=(action handleSiteFormSubmit)}}
    </section>
  </div>

  {{outlet}}
{{/side-nav}}
