<section data-test-main-content-comments="host">
  {{site/page/-components/main-content/main-content-comments/comments-header
      --session=--session
      --onSignInClick=(action --onSignInClick)}}
  {{comment-list --prioritizedComments=--prioritizedComments --threadLevel=1}}
  {{yield}}
</section>
