@import "card.css";
@import "empty-state.css";
@import "layout.css";
@import "themes.css";
@import "pod-styles";

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

a {
  color: #2196f3;
}

a:visited:not(.ce-link-button):not(.ce-icon-link-button) {
  color: #2196f3;
}
