.firebaseui-container {
  font-family: inherit;
}

.firebaseui-title,
.firebaseui-subtitle {
  color: var(--font-primary-color);
}

.firebaseui-card-header {
  border-bottom-color: var(--divider-color) !important;
}

.firebaseui-label {
  color: var(--font-hint-color) !important;
}

.firebaseui-input {
  color: var(--font-primary-color);
}

.firebaseui-input-invalid {
  color: var(--font-primary-color);
  border-color: var(--red);
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: transparent !important;
}

.firebaseui-button {
  background-color: transparent !important;
}

.firebaseui-error {
  color: var(--red);
}

.firebaseui-text {
  color: var(--font-primary-color);
}

.mdl-button {
  font-family: inherit;
  color: var(--font-primary-color) !important;
  border-radius: var(--border-radius-square);
  box-shadow: none !important;
}

.mdl-button[data-provider-id="google.com"] {
  border: 1px solid var(--divider-color);
}

.mdl-card {
  background-color: transparent;
}

.mdl-textfield__input {
  font-family: var(--font-family);
  border-bottom-color: var(--divider-color) !important;
}

.mdl-shadow--2dp {
  box-shadow: none;
}

.mdl-progress > .bufferbar {
  background-color: var(--progress-bar-background-color);
  background-image: none;
}

.mdl-progress.mdl-progress--indeterminate > .bar1,
.mdl-progress.mdl-progress__indeterminate > .bar1 {
  background-color: var(--progress-bar-moving-color);
}

.mdl-progress.mdl-progress--indeterminate > .bar3,
.mdl-progress.mdl-progress__indeterminate > .bar3 {
  background-color: var(--progress-bar-moving-color);
}
