<section class="section liquid-fire-side-nav">
  {{chats/chat/-components/route-header
    --session=(lookup "service:session")
    --chat=this.model
  }}

  <div class="section__content">
    {{outlet}}
  </div>

  {{chat-composer
    --session=(lookup "service:session")
    --chat=this.model
    --onSendMessageClick=(action this.handleSendMessageClick)
  }}
</section>
