<section class="section liquid-fire-detail">
  {{chats/chat/-components/route-header
    --session=(lookup "service:session")
    --chat=this.model
    --isPrivacyFormVisible=this.isPrivacyFormVisible
    --onPrivacyClick=(action this.handlePrivacyClick)
  }}

  {{chats/chat/-components/route-asides
    --chat=this.model
    --isPrivacyFormVisible=this.isPrivacyFormVisible
    --onPrivacyFormSubmit=(action this.handlePrivacyFormSubmit)
  }}

  <div class="section__content" id="chat-content">
    {{outlet}}
  </div>

  {{chat-composer
    class="section__toolbar"
    --session=(lookup "service:session")
    --chat=this.model
    --isReadOnlyDisabled=true
    --onSendMessageClick=(action this.handleSendMessageClick)
  }}
</section>
