<section class="section liquid-fire-side-nav">
  {{chats/chat/-components/route-header
    --session=(lookup "service:session")
    --chat=this.model
    --isPrivacyFormVisible=this.isPrivacyFormVisible
    --onPrivacyClick=(action this.handlePrivacyClick)
  }}

  {{#chats/chat/-components/route-content
    --chat=this.model
    --isPrivacyFormVisible=this.isPrivacyFormVisible
    --onPrivacyFormSubmit=(action this.handlePrivacyFormSubmit)
  }}
    {{outlet}}
  {{/chats/chat/-components/route-content}}

  {{chat-composer
    --session=(lookup "service:session")
    --chat=this.model
    --isReadOnlyDisabled=true
    --onSendMessageClick=(action this.handleSendMessageClick)
  }}
</section>
