<main class="layout__main">
  {{sites/site/pages/page/explore/-components/route-content/chat-collection
    --chats=--chats
    --chatLimit=this.chatLimit
    --onLoadMoreChatsClick=(action --onLoadMoreChatsClick)
  }}

  {{yield}}
</main>
