<section class="layout__section">
  {{#ce-subheader class="layout__section-header"}}
    <h3>Upgrade to permanent account</h3>
  {{/ce-subheader}}

  {{email-link-auth
    --firebase=(lookup "service:firebase")
    --router=(lookup "service:router")
    --session=(lookup "service:session")
    --redirectUrl="http://localhost:4200/sites/site_a/pages/page_a"
  }}
</section>
