<div class="section__content">
  <section class="section__item">
    {{#ce-subheader class="section__sub-header"}}
      <h3>Upgrade to permanent account</h3>
    {{/ce-subheader}}

    {{sign-in-form --page=--page}}
  </section>
</div>
