.ce-link-button {
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  font-family: var(--font-family);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  line-height: 36px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.ce-link-button[size="small"] {
  line-height: 32px;
}

.ce-link-button[outlined] {
  color: var(--brand-color);
}

.ce-link-button div {
  position: relative;
  box-sizing: border-box;
  min-width: 66px;
  height: 36px;
  padding-right: 8px;
  padding-left: 8px;
  overflow: hidden;
  border-radius: var(--border-radius-square);
}

.ce-link-button[outlined] div {
  line-height: 32px;
  border: 2px solid var(--brand-color);
}

.ce-link-button[size="small"] div {
  height: 32px;
}

.ce-link-button:hover div::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: var(--brand-color);
  opacity: 0.08;
}

.ce-link-button:active div::before,
.ce-link-button[aria-pressed="true"] div::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: var(--brand-color);
  opacity: 0.24;
}
