<main class="layout__main">
  <section class="docs">
    <h2 class="docs__heading">Rules</h2>
    <p class="docs__paragraph">Cenchat's goal is to provide a chat based communication tool for a website's audience while maintaining thoughtful and civil dialogue.</p>
    <p class="docs__paragraph">We don't manage or moderate the communities that use Cenchat. However, to maintain a safe and welcoming environment for a wide range of people to engage in meaningful conversations, we prohibit certain conduct.</p>
    <p class="docs__paragraph">Each participant in those communities are responsible for maintaining these standards.</p>
    <p class="docs__paragraph">In deciding whether a website has violated the rules, we will take into account things like newsworthiness, the context and nature of the posted information, and applicable privacy laws.</p>
    <p class="docs__paragraph">Violations of our rules may result in consequences such as account restrictions, limited distribution of your posts, and suspension of your account. We may limit the distribution of controversial or extreme content.</p>

    <section>
      <h3 class="docs__heading">Threats of violence and incitement</h3>
      <p class="docs__paragraph">We do not allow content or actions that threaten, encourage, or incite violence against anyone, directly or indirectly.</p>
    </section>

    <section>
      <h3 class="docs__heading">Hate speech</h3>
      <p class="docs__paragraph">We do not allow content that promotes violence or hatred against people based on characteristics like race, ethnicity, national origin, religion, disability, disease, age, sexual orientation, gender, or gender identity.</p>
      <p class="docs__paragraph">We do not allow posts or accounts that glorify, celebrate, downplay, or trivialize violence, suffering, abuse, or deaths of individuals or groups. This includes the use of scientific or pseudoscientific claims to pathologize, dehumanize, or disempower others. We do not allow calls for intolerance, exclusion, or segregation based on protected characteristics, nor do we allow the glorification of groups which do any of the above.</p>
      <p class="docs__paragraph">We do not allow hateful text, images, symbols, or other content in your username, profile, or bio.</p>
    </section>

    <section>
      <h3 class="docs__heading">Harassment</h3>
      <p class="docs__paragraph">Cenchat exists to share and discuss ideas.  We don’t tolerate harassment, which includes:</p>

      <ul class="docs__list">
        <li>Bullying, threatening, or shaming someone, or posting things likely to encourage others to do so</li>
        <li>Posting copies of private communications between private individuals without the explicit consent of all parties to the communication</li>
        <li><a href="https://en.wikipedia.org/wiki/Doxing">Doxing</a>, which includes not only private or obscure personal information but also the aggregation of publicly available information to target, shame, blackmail, harass, intimidate, threaten, or endanger</li>
        <li>Using Cenchat features like messaging in a way intended to annoy or harass someone</li>
        <li>Posting intimate or explicit images taken or posted without the subject’s express consent</li>
      </ul>
    </section>

    <section>
      <h3 class="docs__heading">Related conduct</h3>
      <p class="docs__paragraph">We do not allow posts or accounts that engage in on-platform, off-platform, or cross-platform campaigns of targeting, harassment, hate speech, violence, or disinformation. We may consider off-platform actions in assessing a Cenchat account, and restrict access or availability to that account.</p>
    </section>

    <section>
      <h3 class="docs__heading">Spam</h3>
      <p class="docs__paragraph">We do not allow spam on Cenchat. All spam will be immediately removed from Cenchat. While it is hard to define this content with precision or completeness, here are some representative behaviors we look for that are characteristic of spam:</p>

      <ul class="docs__list">
        <li>Posting content primarily to drive traffic to, or increase the search rankings of, an external site, product, or service</li>
        <li>Scraping and reposting content from other sources for the primary purpose of generating revenue or other personal gains</li>
        <li>Posting duplicate content, whether from a single account or across multiple accounts</li>
        <li>Stories where the content is clipped with the sole purpose of linking to the rest of the article on a different website.</li>
        <li>Performing a disproportionately large number of interactions, particularly by automated means. This includes bulk, indiscriminate interactions, such as following of other accounts (follow spam)  clapping, or highlighting</li>
        <li>Repeatedly using responses or other interactions as a method of promotion</li>
      </ul>

      <p class="docs__paragraph">For each of these behaviors, when we talk about “content,” we mean not only posts but also any other feature that allows you to add your own text or media. When we talk about “interactions,” we mean any feature that allows one user to interact with another, or with a post.</p>
    </section>

    <section>
      <h3 class="docs__heading">Copyright and trademark infringement</h3>
      <p class="docs__paragraph">Respect the copyrights and trademarks of others. Unless you’re authorized to use someone else’s copyrighted work or trademark (either expressly or by legal exceptions and limitations like fair use), don’t do it. We respond to notices of alleged infringement when you send us an email to <a href="mailto:support@cenchat.com">support@cenchat.com</a>.</p>
    </section>

    <section>
      <h3 class="docs__heading">Deceptive conduct</h3>
      <p class="docs__paragraph">We do not allow deceptive conduct on Cenchat. This includes:</p>

      <ul class="docs__list">
        <li>Posting content or impersonating a person or organization in a way likely to deceive people.</li>
        <li>Using Cenchat for phishing or fraud. Don’t use tags, links, titles, or other metadata in a misleading way. Don’t link to or embed malicious or harmful code or software in your posts.</li>
        <li>Don’t use deception to generate revenue or traffic</li>
        <li>If you have received compensation, free goods/services or anything of value in connection with the topic of a post, you must make this clear</li>
      </ul>
    </section>

    <section>
      <h3 class="docs__heading">Exploitation of minors</h3>
      <p class="docs__paragraph">We do not allow the posting of anything promoting the sexual or violent exploitation of children.</p>
    </section>

    <section>
      <h3 class="docs__heading">Privacy violations</h3>
      <p class="docs__paragraph">We do not allow content that violates others’ privacy, including personally identifying or confidential information such as credit card numbers, social security numbers, non-public phone numbers, physical addresses, email addresses, or other non-public information.</p>
    </section>

    <section>
      <h3 class="docs__heading">Promotion and glorification of self-harm</h3>
      <p class="docs__paragraph">We do not allow activities that encourage, promote or glorify acts of self-harm, such as cutting, eating disorders like anorexia or bulimia, and suicide.</p>
    </section>

    <section>
      <h3 class="docs__heading">How to report a violation</h3>
      <p class="docs__paragraph">If you find a post or account on Cenchat that violates these rules, please report it to the moderators of that community. Additionally, you can send us an email to <a href="mailto:support@cenchat.com">support@cenchat.com</a>.</p>
    </section>

    <section>
      <h3 class="docs__heading">Government Takedown Requests</h3>
      <p class="docs__paragraph">If Cenchat receives a request from a government actor to restrict access to content associated with your account, we will notify you unless we are prohibited by law or believe doing so may endanger others. Where applicable, we will work to limit legally-ordered content restrictions to jurisdictions where we have a good faith belief that we are legally required to restrict the content.</p>
      <p class="docs__paragraph"><em>We may enforce, or not enforce, these policies at our sole discretion. These policies don’t create a duty or contractual obligation for us to act.</em></p>
      <p class="docs__paragraph">We also may change these rules at any time.</p>
    </section>
  </section>

  {{outlet}}
</main>
