.chat-composer-sub-toolbar-sticker-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  list-style-type: none;
}

.chat-composer-sub-toolbar-sticker-list__item {
  display: inline-block;
}
