.comment-item-content-message {
  margin-top: 0;
  margin-bottom: 0;
}

.comment-item-content-message__attachment-image {
  max-height: 120px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: var(--border-radius-square);
}

.comment-item-content-message__text {
  font-size: var(--font-size-14);
  line-height: 1.25rem;
  color: var(--font-primary-color);
  white-space: pre-wrap;
}
