<p class="comment-item-content-message">
  {{#if --comment.isDeleted}}
    <div class="comment-item-content-message__text" data-test-content-message="deleted-message">[deleted]</div>
  {{/if}}

  {{#if --comment.text}}
    <div class="comment-item-content-message__text" data-test-content-message="text">{{linkify --comment.text rel="noopener noreferrer"}}</div>
  {{/if}}

  <div>
    {{#each --comment.parsedAttachments key="id" as |attachment|}}
      {{ce-image
          class="comment-item-content-message__attachment-image"
          data-test-content-message="attachment-image"
          src=attachment.imageUrl
          alt=attachment.description
          width=attachment.width
          height=attachment.height}}
    {{/each}}
  </div>
</p>
