.sign-in_route-content__email-link-auth {
  height: 100vh;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 960px) {
  .sign-in_route-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 128px);
  }

  .sign-in_route-content__email-link-auth {
    max-width: 456px;
    height: auto;
    padding: 40px;
    border: 1px solid var(--divider-color);
    border-radius: var(--border-radius-square);
  }
}
