.comment-item-content__chat-bubble {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 16px;
  background-color: var(--chat-bubble-background-color);
  border-radius: var(--border-radius-square);
}

.comment-item-content__let-me-know-image {
  position: absolute;
  top: -36px;
  right: 8px;
  width: 72px;
  height: 72px;
}
