<div>
  {{#if --isQuoteVisible}}
    {{comment-item/comment-item-content/content-quote --comment=--comment}}
  {{/if}}

  <div class="comment-item-content__chat-bubble" data-test-item-content="chat-bubble">
    {{comment-item/comment-item-content/content-header --comment=--comment}}
    {{comment-item/comment-item-content/content-message --comment=--comment}}

    {{#if --comment.taggedEntity}}
      {{comment-item/comment-item-content/content-tagged-entity-list --entities=--comment.parsedTaggedEntity}}
    {{/if}}
  </div>
</div>
