<section class="side-nav__section">
  {{#ce-subheader class="side-nav__section-header"}}
    <h3>Security</h3>
  {{/ce-subheader}}

  {{profile/settings/-components/security-settings/security-settings-delete-account
      --onDeleteAccountToastCompletion=(action --onDeleteAccountToastCompletion)}}
</section>
