.ce-top-bar {
  color: var(--font-primary-color);
  background-color: var(--top-bar-background-color);
  opacity: 0.98;
}

@media (min-width: 960px) {
  .ce-top-bar[responsive] {
    box-sizing: border-box;
    padding-right: 8px;
    padding-left: 8px;
  }

  .ce-top-bar[responsive] > .ce-top-bar-row:first-child {
    height: 64px;
  }
}
