{{#side-nav}}
  {{#ce-top-bar}}
    {{ce-icon-link-button
        data-test-profile-edit="navigate-back-link"
        href=(href-to 'profile')
        title="Navigate back"
        aria-label="Navigate back"
        icon="arrow_back"}}
    <h2>Follow suggestions</h2>
  {{/ce-top-bar}}

  {{profile/follow-suggestions/-components/main-content --followSuggestions=model}}
  {{outlet}}
{{/side-nav}}

