<div>
  <div class="{{if --prioritizedComments 'comment-list__prioritized-comments'}}">
    {{#each --prioritizedComments as |comment|}}
      {{comment-item --comment=comment --threadLevel=--threadLevel}}
    {{/each}}
  </div>

  {{#each --comments as |comment|}}
    {{comment-item --comment=comment --threadLevel=--threadLevel}}
  {{/each}}

  {{#if (and (not --prioritizedComments) (not --comments))}}
    {{#if --emptyStateMessage}}
      <p class="empty-state" data-test-comment-list="empty-state">{{--emptyStateMessage}}</p>
    {{/if}}
  {{/if}}

  {{#if (gte --comments.length limit)}}
    {{#ce-button
        data-test-comment-list="load-more-comments-button"
        --onClick=(action loadMoreComments)}}
      Load more comments
    {{/ce-button}}
  {{/if}}
</div>
