{{cenchat-header class="layout__header" --staticLogo=true}}

<main class="layout__main">
  <article class="card">
    <h1 class="card__heading">Woops. Looks like this page doesn't exist.</h1>
    <p class="card__message">It may be broken or was removed</p>
  </article>
</main>
