<li
    class="gif-panel-tenor-item clickable"
    data-test-gif-panel-tenor-item="{{gif.id}}"
    onclick={{action --onAddAttachmentClick gif}}>
  <img
      class="clickable"
      data-test-gif-panel-tenor-item="image"
      src="{{gif.imageUrl}}"
      alt="{{gif.description}}">
</li>
