<li
    class="gif-panel-tenor-item"
    data-test-gif-panel-tenor-item="{{gif.id}}"
    onclick={{action --onAddAttachmentClick gif}}>
  {{ce-image data-test-gif-panel-tenor-item="image" src=gif.imageUrl alt=gif.description}}
</li>
