<div class="profile_main-content-info">
  <img
      class="profile_main-content-info__photo"
      data-test-main-content-info="photo"
      src="{{--user.avatarUrl}}"
      alt="{{--user.displayName}}">

  {{#if --user.displayUsername}}
    <p class="profile_main-content-info__username" data-test-main-content-info="username">
      @{{--user.displayUsername}}
    </p>
  {{/if}}

  {{#if --user.shortBio}}
    <p class="profile_main-content-info__short-bio" data-test-main-content-info="short-bio">{{--user.shortBio}}</p>
  {{/if}}

  {{#if (not-eq --session.model.id --user.id)}}
    {{#if (eq isUserBeingFollowed true)}}
      {{unfollow-user-button --userToUnfollow=--user --onUnfollowUser=(action handleUnfollowUser)}}
    {{else if (eq isUserBeingFollowed false)}}
      {{follow-user-button --userToFollow=--user --onFollowUser=(action handleFollowUser)}}
    {{/if}}
  {{/if}}
</div>
