<article class="card" data-test-page-collection-item="{{--page.id}}">
  {{#if --page.imageUrl}}
    <img class="card__image" data-test-page-collection-item="image" src="{{--page.imageUrl}}" alt="Page cover">
  {{/if}}

  <header class="card__header card__header--small">
    <h3 class="card__heading card__heading--small" data-test-page-collection-item="title">{{--page.title}}</h3>
    <p class="card__subheading" data-test-page-collection-item="id">ID: {{--page.shortId}}</p>
  </header>

  <div class="card__action">
    {{#ce-link-button href=--page.url target="_blank" rel="noopener noreferrer"}}Visit{{/ce-link-button}}
    {{ce-icon-link-button
        data-test-page-collection-item="edit-page-button"
        href=(href-to 'sites.site.pages.page' --page.id)
        title="Edit page"
        aria-label="Edit page"
        icon="edit"}}
    {{ce-icon-button
        data-test-page-collection-item="rescrape-page-button"
        title="Rescrape page"
        aria-label="Rescrape page"
        icon="refresh"
        --onClick=(action --onRescrapePageClick --page)}}
  </div>
</article>
