.index__wrapper {
  flex: 1;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 960px) {
  .index__wrapper {
    display: flex;
  }
}

.index__jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 960px) {
  .index__jumbotron {
    flex: 1;
    align-items: flex-start;
    padding: 128px;
  }
}

.index__cover-title {
  padding-top: 32px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: var(--font-size-56);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-56);
  color: var(--font-primary-color);
  text-align: center;
}

.index__cover-description {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-24);
  color: var(--font-secondary-color);
  text-align: center;
}

.index__cover-hint {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: var(--font-size-16);
  font-style: italic;
  line-height: var(--font-size-16);
  color: var(--font-hint-color);
  text-align: center;
}

@media (min-width: 960px) {
  .index__cover-title,
  .index__cover-description,
  .index__cover-hint {
    text-align: left;
  }
}

.index__cover-try-it-button {
  margin-bottom: 32px;
}

.index__features {
  padding: 32px 16px;
  background-color: var(--brand-color);
}

.index__features .card {
  background-color: transparent;
  border: none;
}

.index__features .card__heading,
.index__features .card__message {
  color: var(--font-alternate-color);
}

@media (min-width: 960px) {
  .index__features {
    max-width: 320px;
    margin-right: 128px;
  }
}
