.index__cover {
  display: flex;
  flex-direction: column;
  align-content: center;
}

@media (min-width: 960px) {
  .index__cover {
    max-width: 600px;
    padding-top: 56px;
    margin-right: auto;
    margin-left: auto;
  }
}

.index__cover-title {
  padding: 48px 16px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: var(--font-size-56);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-56);
  color: #fff;
  text-align: center;
  background-color: var(--cenchat-brand-color);
}

@media (min-width: 960px) {
  .index__cover-title {
    border-radius: var(--border-radius-square);
  }
}

.index__cover-description {
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-24);
  color: var(--font-secondary-color);
  text-align: center;
}

.index__cover-hint {
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: var(--font-size-16);
  font-style: italic;
  line-height: var(--font-size-16);
  color: var(--font-hint-color);
  text-align: center;
}

.index__cover-try-it-button {
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
}

.index__features {
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}

@media (min-width: 960px) {
  .index__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .index__features .card {
    width: 33.33%;
    margin: 8px;
  }
}
