<main class="layout__main">
  {{#if --users}}
    <section class="layout__section">
      {{#ce-subheader class="layout__section-header"}}
        <h2>Users</h2>
      {{/ce-subheader}}

      {{user-collection --users=--users}}
    </section>
  {{/if}}

  {{yield}}
</main>
