<div class="side-nav__content">
  {{#if followSuggestions}}
    {{#infinite-content
        --query=followSuggestions
        --selector=".side-nav__content"
        --onLoadMoreRecords=(action handleLoadMoreRecords)}}
      {{user-collection --users=followSuggestions}}
    {{/infinite-content}}
  {{/if}}
</div>
