<section class="layout__section">
  {{#ce-subheader class="layout__section-header"}}
    <h2>Follow suggestions</h2>

    {{#ce-link-button
        data-test-follow-suggestion-collection="see-all-link"
        href=(href-to 'profile.follow-suggestions')
        size="small"}}
      See all
    {{/ce-link-button}}
  {{/ce-subheader}}

  {{user-collection --users=--followSuggestions}}
</section>
