<section class="layout__section">
  {{#ce-subheader class="layout__section-header"}}
    <h2>Follow suggestions</h2>

    {{#ce-link-button
        data-test-follow-suggestion-collection="see-all-link"
        href=(href-to 'profile.follow-suggestions')
        size="small"}}
      See all
    {{/ce-link-button}}
  {{/ce-subheader}}

  
  {{#if --followSuggestions}}
    {{user-collection --users=--followSuggestions}}
  {{else}}
    <article class="card" data-test-follow-suggestion-collection="empty-state">
      <h3 class="card__heading">There are no suggestions as of the moment</h3>
    </article>
  {{/if}}
</section>
