{{#ce-top-bar class="layout__header"}}
  <h1>Account</h1>
{{/ce-top-bar}}

<main class="layout__main">
  {{sites/site/pages/page/account/-components/route-content --session=(lookup 'service:session')}}
</main>
