{{sites/site/pages/page/account/-components/route-header
  --router=(lookup "service:router")
  --session=(lookup "service:session")
}}

<main class="layout__main">
  {{sites/site/pages/page/account/-components/route-content
    --session=(lookup "service:session")
  }}
</main>
