<section class="section liquid-fire-side-nav">
  {{#ce-top-bar}}
    {{ce-icon-link-button
      href=(href-to "profile")
      title="Navigate back"
      aria-label="Navigate back"
      icon="arrow_back"
    }}
    <h2>Edit profile</h2>
  {{/ce-top-bar}}

  <div class="section__content section__content--headerless">
    <div class="section__item">
      {{profile/edit/-components/route-content
        --user=this.model
        --onProfileFormSubmit=(action this.handleProfileFormSubmit)
      }}
    </div>
  </div>
</section>
