<section class="layout__section">
  {{#ce-subheader class="layout__section-header"}}
    <h2>Followings</h2>

    {{#ce-link-button
        data-test-following-collection="see-all-link"
        href=(href-to 'profile.followings')
        size="small"}}
      See all
    {{/ce-link-button}}
  {{/ce-subheader}}

  {{#if --followings}}
    {{user-collection --users=--followings}}
  {{else}}
    <article class="card" data-test-following-collection="empty-state">
      <header class="card__header">
        <h3 class="card__heading">Follow people you like</h3>
        <p class="card__subheading">Look them up by searching for their usernames. Once you've added them, you'll be able to see their comments first when reading articles. If they follow you back, you'll be able to reply to them with texts.</p>
      </header>

      <div class="card__action">
        {{#ce-link-button href=(href-to 'search')}}Search them{{/ce-link-button}}
      </div>
    </article>
  {{/if}}
</section>
