{{#ce-subheader class="section-header"}}
  <h1 class="section-header__title" data-test-comments-header="heading">Comments</h1>

  {{#if --session.model}}
    {{#ce-dropdown-button
        data-test-comments-header="filter-comments-button"
        icon="filter_list"
        position="ll"}}
      <li class="list__item">
        {{#link-to 'site.page.comments' (query-params filter='relevance') class="list__action"}}
          <div>
            <div class="list__single-line-content">Relevant to you</div>
          </div>
        {{/link-to}}
      </li>

      <li class="list__item">
        {{#link-to 'site.page.comments' (query-params filter=null) class="list__action"}}
          <div>
            <div class="list__single-line-content">All</div>
          </div>
        {{/link-to}}
      </li>
    {{/ce-dropdown-button}}
  {{else}}
    {{ce-icon-button
        data-test-comments-header="sign-in-button"
        title="Sign in"
        aria-label="Sign in"
        icon="account_circle"
        --onClick=(action --onSignInClick)}}
  {{/if}}
{{/ce-subheader}}
