.ce-top-bar-multi-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 56px;
}

.ce-top-bar-multi-heading > h1,
.ce-top-bar-multi-heading > h2,
.ce-top-bar-multi-heading > h3,
.ce-top-bar-multi-heading > h4,
.ce-top-bar-multi-heading > h5,
.ce-top-bar-multi-heading > h6 {
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
  line-height: 2rem;
  color: var(--font-primary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ce-top-bar-multi-heading > p {
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size-12);
  line-height: 1.25rem;
  color: var(--font-secondary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}
