<header class="comment-item-content-header">
  <h2 class="comment-item-content-header__author" data-test-content-header="comment-author">
    {{--comment.author.displayName}}
  </h2>

  <span class="comment-item-content-header__separator">&#8226;</span>

  <p class="comment-item-content-header__timestamp">
    <time data-test-content-header="comment-timestamp">
      {{moment-from-now --comment.createdOn}}
    </time>
  </p>
</header>
