{{#side-nav data-test-roles}}
  {{#ce-top-bar}}
    {{ce-icon-link-button
        data-test-top-bar="navigate-back-link"
        href=(href-to 'sites.site.pages.index')
        title="Navigate back"
        aria-label="Navigate back"
        icon="arrow_back"}}
    <h4>Edit page</h4>
  {{/ce-top-bar}}

  <div class="side-nav__content">
    <section class="side-nav__section side-nav__section--headerless">
      {{sites/site/pages/page/-components/main-content --page=model --onSavePageClick=(action handleSavePageClick)}}
    </section>
  </div>
{{/side-nav}}
