<main class="search-content main">
  <section class="section">
    {{#ce-subheader class="section__header"}}
      <h2>Users</h2>
    {{/ce-subheader}}

    {{user-collection class="wrapper" --users=--users}}
  </section>

  {{yield}}
</main>
