.ce-fade-in {
  animation-name: ce-fade-in;
  animation-duration: var(--motion-small-expand-duration);
  animation-timing-function: var(--motion-deceleration-curve);
}

@keyframes ce-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ce-fade-out {
  animation-name: ce-fade-out;
  animation-duration: var(--motion-small-collapse-duration);
  animation-timing-function: var(--motion-acceleration-curve);
}

@keyframes ce-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
