.ce-button {
  position: relative;
  padding: 8px;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  line-height: 36px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border-style: none;
  box-sizing: border-box;
}

.ce-button[size="small"] {
  line-height: 32px;
}

.ce-button[outlined] {
  color: var(--brand-color);
}

.ce-button div {
  position: relative;
  height: 36px;
  min-width: 66px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: var(--border-radius-square);
  box-sizing: border-box;
  overflow: hidden;
}

.ce-button[outlined] div {
  line-height: 32px;
  border: 2px solid var(--brand-color);
}

.ce-button[size="small"] div {
  height: 32px;
}

.ce-button:hover div::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0.08;
  background-color: var(--brand-color);
}

.ce-button:active div::before,
.ce-button[aria-pressed="true"] div::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0.24;
  background-color: var(--brand-color);
}

.ce-button:disabled {
  color: var(--button-disabled-text-color);
}

.ce-button[outlined]:disabled div {
  border: 2px solid var(--button-disabled-text-color);
}

.ce-button:disabled div::before {
  background-color: transparent;
}

.ce-button[performing] div::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--brand-color);
  content: '';
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-name: ce-button-performing;
  animation-timing-function: linear;
}

@keyframes ce-button-performing {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.32;
  }

  100% {
    opacity: 0;
  }
}
