.ce-button {
  padding: 8px;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  line-height: 36px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border-style: none;
  box-sizing: border-box;
}

.ce-button[size="small"] {
  line-height: 32px;
}

.ce-button div {
  position: relative;
  height: 36px;
  min-width: 66px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: var(--border-radius-square);
  box-sizing: border-box;
}

.ce-button[size="small"] div {
  height: 32px;
}

.ce-button:hover div {
  background-color: var(--button-hover-background-color);
}

.ce-button:active div,
.ce-button[aria-pressed="true"] div {
  background-color: var(--button-active-background-color);
}

.ce-button:disabled {
  color: var(--button-disabled-text-color);
}

.ce-button:disabled div {
  background-color: transparent;
}

.ce-button[performing] div::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--progress-bar-moving-color);
  content: '';
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-name: ce-button-progress-bar;
  animation-timing-function: linear;
}

@keyframes ce-button-progress-bar {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(400%);
  }
}
