.ce-icon-link-button {
  position: relative;
  padding: 0;
  color: inherit;
  background: none;
  border-style: none;
}

.ce-icon-link-button[outlined] {
  color: var(--brand-color);
}

.ce-icon-link-button .ce-icon-button__wrapper {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 8px;
  overflow: hidden;
  border-radius: var(--border-radius-circle);
}

.ce-icon-link-button[outlined] .ce-icon-button__wrapper {
  line-height: 32px;
  border: 2px solid var(--brand-color);
}

.ce-icon-link-button:hover .ce-icon-button__wrapper::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: var(--brand-color);
  opacity: 0.08;
}

.ce-icon-link-button:active .ce-icon-button__wrapper::before,
.ce-icon-link-button[aria-pressed="true"] .ce-icon-button__wrapper::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: var(--brand-color);
  opacity: 0.24;
}

.ce-icon-link-button[size="small"] .ce-icon-button__wrapper {
  width: 30px;
  height: 30px;
}

.ce-icon-link-button[size="medium"] .ce-icon-button__wrapper {
  width: 48px;
  height: 48px;
}

.ce-icon-link-button[size="large"] .ce-icon-button__wrapper {
  width: 60px;
  height: 60px;
}

.ce-icon-link-button[square] .ce-icon-button__wrapper {
  border-radius: var(--border-radius-square);
}

.ce-icon-link-button[badged] .ce-icon-button__wrapper::after {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 10px;
  height: 10px;
  content: '';
  background-color: var(--danger-color);
  border-radius: var(--border-radius-circle);
}

.ce-icon-link-button .ce-image {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 6px;
  user-select: none;
  border-radius: var(--border-radius-circle);
}

.ce-icon-link-button[size="small"] .ce-image {
  width: 18px;
  height: 18px;
}

.ce-icon-link-button[size="medium"] .ce-image {
  width: 36px;
  height: 36px;
}

.ce-icon-link-button[size="large"] .ce-image {
  width: 48px;
  height: 48px;
}

.ce-icon-link-button[square] .ce-image {
  border-radius: 0;
}

.ce-icon-link-button .ce-icon {
  box-sizing: border-box;
  padding: 6px;
  color: inherit;
}

.ce-icon-link-button[outlined] .ce-icon {
  padding: 4px;
}
