.ce-icon-button {
  padding: 0;
  color: inherit;
  background: none;
  border-style: none;
}

.ce-icon-button .ce-icon-button__wrapper {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 8px;
  border-radius: var(--border-radius-circle);
}

.ce-icon-button:hover .ce-icon-button__wrapper {
  background-color: var(--button-hover-background-color);
}

.ce-icon-button:active .ce-icon-button__wrapper,
.ce-icon-button[aria-pressed="true"] .ce-icon-button__wrapper {
  background-color: var(--button-active-background-color);
}

.ce-icon-button:disabled .ce-icon-button__wrapper {
  background-color: transparent;
}

.ce-icon-button[size="small"] .ce-icon-button__wrapper {
  width: 30px;
  height: 30px;
}

.ce-icon-button[size="medium"] .ce-icon-button__wrapper {
  width: 48px;
  height: 48px;
}

.ce-icon-button[size="large"] .ce-icon-button__wrapper {
  width: 60px;
  height: 60px;
}

.ce-icon-button[square] .ce-icon-button__wrapper {
  border-radius: var(--border-radius-square);
}

.ce-icon-button[badged] .ce-icon-button__wrapper::after {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 10px;
  height: 10px;
  background-color: var(--error-color);
  border-radius: var(--border-radius-circle);
  content: '';
}

.ce-icon-button[performing] .ce-icon-button__wrapper::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top: 2px solid var(--indicator-color);
  border-right: 2px solid var(--indicator-color);
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: var(--border-radius-circle);
  content: '';
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-name: ce-icon-button-rotate;
  animation-timing-function: linear;
}

@keyframes ce-icon-button-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.ce-icon-button .ce-image {
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: var(--border-radius-circle);
  box-sizing: content-box;
  user-select: none;
}

.ce-icon-button[size="small"] .ce-image {
  width: 18px;
  height: 18px;
}

.ce-icon-button[size="medium"] .ce-image {
  width: 36px;
  height: 36px;
}

.ce-icon-button[size="large"] .ce-image {
  width: 48px;
  height: 48px;
}

.ce-icon-button[square] .ce-image {
  border-radius: 0;
}

.ce-icon-button .ce-icon {
  padding: 6px;
  color: inherit;
  box-sizing: border-box;
}

.ce-icon-button:disabled .ce-icon {
  color: var(--button-disabled-text-color);
}
