.ce-navbar {
  display: flex;
  align-items: center;
  background-color: var(--navbar-background-color);
}

@media (min-width: 960px) {
  .ce-navbar {
    display: block;
    width: auto;
    border-top: none;
  }
}

.ce-navbar .ce-icon-link-button {
  display: flex;
  flex: 1;
  justify-content: center;
}

.ce-navbar .ce-icon-link-button[active] {
  color: var(--font-alternate-color);
  background-color: var(--info-color);
}
