.ce-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--navbar-background-color);
  box-shadow: var(--elevation-8);
}

@media (min-width: 960px) {
  .ce-navbar {
    display: block;
    width: auto;
  }
}

.ce-navbar .ce-icon-link-button {
  --button-hover-background-color: var(--navbar-button-hover-background-color);
  --button-active-background-color: var(--navbar-button-active-background-color);

  display: flex;
  flex: 1;
  justify-content: center;
  color: var(--navbar-text-color);
}
