html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/**
 * Reset Segoe UI font to include font-weight 500 for Firefox
 */
@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: local("Segoe UI Light");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 500;
  src: local("Segoe UI Semibold");
}

@font-face {
  font-style: italic;
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI Italic");
}
