.ce-spinner {
  position: relative;
  width: 52px;
  height: 52px;
  padding: 6px;
  margin-right: auto;
  margin-left: auto;
  border-radius: var(--border-radius-circle);
  box-sizing: border-box;
}

.ce-spinner::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  border-top: 2px solid var(--indicator-color);
  border-right: 2px solid var(--indicator-color);
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: var(--border-radius-circle);
  content: '';
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-name: ce-spinner-rotate;
  animation-timing-function: linear;
}

@keyframes ce-spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}
