.ce-top-bar {
  width: 100%;
  color: var(--font-primary-color);
  background-color: var(--fixed-surface-background-color);
  box-shadow: var(--elevation-4);
}

@media (min-width: 960px) {
  .ce-top-bar[responsive] {
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;
  }

  .ce-top-bar[responsive] > .ce-top-bar-row:first-child {
    height: 64px;
  }
}
