@import "card.css";
@import "firebaseui.css";
@import "layout.css";
@import "legal.css";
@import "marketing.css";
@import "outlet.css";
@import "side-nav.css";
@import "snippets.css";
@import "splash-screen.css";
@import "pod-styles";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  background-color: #000;
}

body,
body > .ember-view {
  position: relative;
  min-height: 100vh;
  background-color: var(--body-background-color);
}

.clickable {
  cursor: pointer;
}

.ce-navbar ~ .ce-toast {
  margin-bottom: 52px;
}

@media (min-width: 960px) {
  .ce-navbar ~ .ce-toast {
    margin-bottom: 16px;
    margin-left: 68px;
  }
}

strong {
  font-weight: 500;
}
