.docs {
  width: 100%;
  max-width: 640px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.docs__heading {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
}

h2.docs__heading {
  font-size: var(--font-size-24);
  line-height: var(--line-height-24);
}

h3.docs__heading {
  font-size: var(--font-size-20);
  line-height: var(--line-height-20);
}

.docs__paragraph,
.docs__list li {
  line-height: var(--line-height-16);
}
