.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--font-primary-color);
  background-color: var(--body-background-color);
}

.layout__header {
  position: sticky;
  top: 0;
  z-index: 400;
}

.layout__header > div {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.layout__main {
  display: flex;
  flex: 1;
  flex-direction: column;
}
