.legal {
  max-width: 744px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.legal__header {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
}

h2.legal__header {
  font-size: var(--font-size-24);
  line-height: var(--line-height-24);
}

h3.legal__header {
  font-size: var(--font-size-20);
  line-height: var(--line-height-20);
}

.legal__paragraph,
.legal__list li {
  line-height: var(--line-height-16);
}
