.marketing {
  padding-right: 16px;
  padding-left: 16px;
  background-color: #fff;
}

.marketing--dark {
  background-color: #212121;
}

.marketing__heading {
  padding-top: 56px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-34);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-34);
  color: var(--font-primary-color);
  text-align: center;
}

.marketing--dark .marketing__heading {
  color: rgba(255, 255, 255, 1);
}

.marketing__benefit-list {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.marketing__benefit-list-item {
  padding: 16px;
}

.marketing__benefit-heading {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-24);
  color: var(--font-primary-color);
}

.marketing--dark .marketing__benefit-heading {
  color: rgba(255, 255, 255, 1);
}

.marketing__benefit-message {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-14);
  color: var(--font-secondary-color);
}

.marketing--dark .marketing__benefit-message {
  color: rgba(255, 255, 255, 0.7);
}
