.side-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-color: var(--item-background-color);
}

@media (min-width: 960px) {
  .side-nav {
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
  }
}

.side-nav__content {
  flex: 1;
  overflow: auto;
  background-color: var(--body-background-color);
}

.side-nav__section:last-of-type {
  padding-bottom: 8px;
}

.side-nav__section--headerless {
  padding-top: 8px;
}

.side-nav__section-header {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}

.side-nav__toolbar {
  display: flex;
  background-color: var(--item-background-color);
  box-shadow: var(--elevation);
}

.side-nav__toolbar-action--right-aligned {
  margin-left: auto;
}

.side-nav .ce-top-bar {
  border-bottom: 1px solid var(--divider-color);
  box-shadow: none;
}

.side-nav .card {
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
  border-radius: 0;
  box-shadow: none;
}

.side-nav .card:first-child {
  margin-top: 8px;
}
