<footer class="index_route-footer">
  <div class="index_route-footer__wrapper">
    <a
      class="index_route-footer__link"
      href={{href-to "policies.terms"}}
      rel="noopener noreferrer"
    >
      Terms
    </a>

    <a
      class="index_route-footer__link"
      href={{href-to "policies.privacy"}}
      rel="noopener noreferrer"
    >
      Privacy
    </a>

    <a
      class="index_route-footer__link index_route-footer__link--right"
      href="mailto:support@cenchat.com"
    >
      Contact us
    </a>
  </div>
</footer>
