<li class="list__item" data-test-user-list-item="{{--user.id}}">
  <img
      class="list__avatar list__avatar--circle"
      data-test-user-list-item="photo"
      src="{{--user.avatarUrl}}"
      alt="{{--user.displayName}}">

  <div class="list__multi-line-content">
    <h2 class="list__primary-text" data-test-user-list-item="name">{{--user.displayName}}</h2>
    <p class="list__secondary-text" data-test-user-list-item="username">@{{--user.displayUsername}}</p>
  </div>

  {{#if --hasRole}}
    {{ce-icon-button
        data-test-user-list-item="remove-role-button"
        title="Remove role"
        aria-label="Remove role"
        icon="remove_circle"
        --onClick=(action --onRemoveRoleClick --user)}}
  {{else}}
    {{ce-icon-button
        data-test-user-list-item="add-role-button"
        title="Add role"
        aria-label="Add role"
        icon="add_circle"
        --onClick=(action --onAddRoleClick --user)}}
  {{/if}}
</li>
