@import "empty-state.css";
@import "layout.css";
@import "liquid-fire.css";
@import "pod-styles.css";
@import "section.css";
@import "theme.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

a {
  color: var(--brand-color);
}

a:visited:not(.ce-link-button):not(.ce-icon-link-button) {
  color: var(--brand-color);
}

strong {
  font-weight: 500;
}
