.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "nav";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100vw;
  height: 100vh;
  color: var(--font-primary-color);
  background-color: var(--body-background-color);
}

.layout__header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 400;
  grid-area: header;
}

.layout__main {
  grid-area: main;
}

.layout__nav {
  position: sticky;
  bottom: 0;
  z-index: 600;
  grid-area: nav;
}

.layout__main--no-nav ~ .layout__nav {
  display: none;
}
