.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--font-primary-color);
  background-color: var(--body-background-color);
}

.layout::before {
  display: block;
  min-height: 56px;
  content: '';
}

.layout::after {
  display: block;
  min-height: 52px;
  content: '';
}

.layout__header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 400;
  opacity: 0.98;
}

.layout__main {
  flex: 1;
}

.layout__nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 600;
  opacity: 0.98;
}

.layout__main--no-nav ~ .layout__nav {
  display: none;
}
